// Externals

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';

// Pages
@import 'pages/Dashboard';
@import 'pages/Login';

// Components
@import 'components/Navbar';
@import 'components/Hero';
@import 'components/Ad';
@import 'components/Services';
@import 'components/About';
@import 'components/Gallary';
@import 'components/OrderModal';
@import 'components/Video';
@import 'components/Footer';
.App {
    padding-top: 20px;
    background: $clr1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;   

    @include for-tablet-layout {
        // padding: 20px 40px;
    }
}