// Externals

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/fonts';

// Basics
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';

// Pages
@import 'pages/Dashboard';
@import 'pages/Login';
@import 'pages/HairLightening';
@import 'pages/HairStraightening';
@import 'pages/GalleryPage';

// Components
@import 'components/Navbar';
@import 'components/Hero';
@import 'components/Ad';
@import 'components/Services';
@import 'components/BigPic';
@import 'components/About';
@import 'components/Gallary';
@import 'components/OrderModal';
@import 'components/Video';
@import 'components/Footer';

.App {
    background: $clr1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;


    .phone-icon {
        bottom: 20px;
        right: 20px;
        position: fixed;
        width: 40px;
        height: 40px;
        z-index: 20;
        border-radius: 50%;
        background-image: url(/src/assets/imgs/phone-icon.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include for-tablet-layout {
            bottom: 15px;
            right: 15px;
        }
    }
}

// #INDmenu-btn{
//     @include for-mobile-layout {
//       bottom: 15% !important;
//     }
// }
#NagishLiTrigger{
    bottom: 10% !important;
    right: 3px !important;

}
.nagishli-trigger-icon{
    border-radius: 50% !important;
    bottom: 15% !important;
  }