.Ad-section {
    margin-top: 85vh;
    // margin-bottom: 20px;
    padding: 15px;

    .skiils {
        align-items: baseline;
        @include for-mobile-layout {
            flex-wrap: wrap;
            gap: 10px;
        }
        span,a {
            @include for-tablet-layout {
                font-size: rem(26px);
                
            }

            font-size: rem(35px);
            font-family: monospace;
            margin-top: 15px;
            color: $clr16;
            font-weight: 600;
            height: 10vh;
        }
    }
}