.Ad-section {
    margin-top: 85vh;
    padding: 15px;

    .skiils {
        align-items: baseline;
        @include for-mobile-layout {
            flex-wrap: wrap;
            gap: 10px;
        }
        span,a {
            font-size: rem(35px);
            font-family: monospace;
            margin-top: 15px;
            color: $clr16;
            font-weight: 600;
            height: 10vh;
            :hover{
                text-decoration: underline solid 4px;
                -webkit-text-decoration: underline solid 4px;
                filter: drop-shadow(2px 4px 5px black);
            }
        }
    }
}