.big-pic-comp {
    background: url(/src/assets/imgs/big-pic-section.jpg) center center/cover no-repeat !important;
    // background-attachment: fixed !important;
    width: 100%;
    height: 70vh;
}