.footer-section{
    height: 15vh;
    width: 100%;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 15px;
    img{
        width: rem(30px);
        cursor: pointer;
    }
    .links{
        gap: 15px;
    }
}