.navbar {
    height: 15vh;
    color: $clr13;

    @include for-tablet-layout {
        justify-content: space-between !important;
    }

    .logo {
        height: 100%;

        img {
            height: 100%;
            border-radius: 50%;
        }
    }

    .links {
        gap: 30px;
        font-size: rem(25px);

        @include for-wide-layout {
            gap: 15px;
        }

        @include for-normal-layout {
            display: none;
        }

        span:is(:hover),
        a:is(:hover) {
            border-bottom: 4px solid $clr12;
            cursor: pointer;
        }

    }

    .cta-btn {
        button {
            padding: 15px;
            background-color: $clr12;
            border-radius: 12px;
            color: $clr14;
            font-weight: 650;
            font-size: 14px;

            @include for-wide-layout {
                padding: 12px;
            }
        }

        button:is(:hover) {
            background-color: $clr13 ;
        }

        @include for-mobile-layout {
            display: none;
        }
    }

    .mobile-menu {
        display: none;

        @include for-normal-layout {
            display: unset;
        }

        img {
            width: rem(35px);
            cursor: pointer;
        }

        .phone-menu {
            height: 100vh;
            width: 100%;
            padding: 25px;
            background: linear-gradient(180deg, #a29c96 40%, #bcb3aa 60%);
            text-align: center;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;

            .close-btn {
                position: absolute;
                right: 25px;
                top: 10vh;
                font-size: 28px;
                filter: drop-shadow(2px 2px 5px black);
                cursor: pointer;

            }

            .mobile-links {
                gap: 25px;
                height: 100%;
                font-size: 30px;

                span,a {
                    cursor: pointer;

                    &:hover {
                        border-bottom: 4px solid $clr13;
                    }
                }
                
            }

            .cta-btn-mobile {
                button {
                    padding: 10px;
                    background-color: $clr12;
                    border-radius: 12px;
                    color: $clr14;
                    font-weight: 650;
                    font-size: 14px;

                }

                button:is(:hover) {
                    background-color: $clr13 ;
                }


            }

        }
    }
}