// Colors
$clr7: #006fbf;
$clr10: #7c9ac8;
$clr9: #282828;


$clr1: #FFFEEF;
$clr3: #212223;
$clr4: #DBDAC5;

$clr5: #7a99a678;
$clr6: #4b5456;
$clr8: #3E363F;
$clr11: #f6f0e9;
$clr12: #7a99a6;
$clr13: #2f2f2d;
 $clr14: #fbf9f7; 
 $clr15: #87a2ab; 
 $clr16:#aeaca9;
 $clr16: #a0a9aa;;
 
$navHeight: 65px;

// Breakpoints
$small-breakpoint: 400px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 820px;
$normal-breakpoint: 980px;
$wide-breakpoint: 1080px;
