// Colors
$clr1: #00ffbb;
$clr2: #293241;
$clr3: #f3f7fc;
$clr4: #696969;
$clr5: #393c3f;
$clr7: #006fbf;

$clr9: #282828;
$clr10: #7c9ac8;


$clr6: #4b5456;
$clr8: #3E363F;
$clr11: #f6f0e9;
$clr12: #7a99a6;
$clr13: #2f2f2d;
 $clr14: #fbf9f7; 
 $clr15: #87a2ab; 
 $clr16:#aeaca9;
 $clr16: #a0a9aa;;
 
$navHeight: 65px;

// Breakpoints
$small-breakpoint: 400px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 820px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
